
:root {
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
}




body {
    background-color:var(--PaleBlue);
    font-family: 'Red Hat Display', sans-serif;
}



main{
background-color: white;
min-width:370px;
width:24rem;
border-radius:15px;
height:600px;
margin:auto;

}



picture{
    position:absolute;
    z-index:-1;
    width:20rem;
}



.container {
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: var(--VeryPaleBlue);
    margin-bottom:1.5rem;
    border-radius:15px;
    width:20rem;
    
}



main img {
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}



main section{
    text-align:center;
    margin:auto;
    margin-left:1.5rem;
    
    
}
main section a {
    font-weight:900;
    font-size:12px;

    
}
h2 {
    color: var(--DarkBlue);
    font-weight:900;
}


section a {
    color:var(--DesaturatedBlue);
    font-size:16px;
    
}

section p {
    color:var(--DesaturatedBlue);
    font-weight:400;
    margin-bottom:2rem;
    width:20rem;
    
    
    

}
section h6 {
    color:var(--DarkBlue);
    font-size:14px;
    
    
}
section h6 span{
    font-size:12px;
    font-weight:700;
    color:var(--DesaturatedBlue);
}
.container a {
   text-decoration: underline;
   color:var(--BrightBlue);
}

.container p {
    color:var(--DarkBlue);
    
}




main img {
    width:100%;
    

}

.container img {
    width:3rem;
    height:3rem;
}
button {
    display:block;
    background-color:var(--BrightBlue);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size:14px;
    color:white;
    margin-bottom:1.5rem;
    width:20rem;
    height:3rem;
    border-radius:10px;
    box-shadow: 0px 10px 20px var(--DesaturatedBlue);
    border-style:none;
}
#cancel {
    font-size:14px;
   
}

button:hover {
    background-color:var(--DesaturatedBlue);
    cursor: pointer;
}

#cancel:hover{
    color:var(--DarkBlue);
    cursor: pointer;
}

.container a:hover{
    color:var(--DesaturatedBlue);
    cursor: pointer;
}



.attribution { 
    font-size: 11px;
     text-align: center;
     }

     .attribution a { 
        color:hsl(228, 45%, 44%);
     }



@media only screen and (max-width: 370px){
    main {
        width:99%;
        margin:auto;
    }
    section p {
        width:16.5rem;
        margin-left:1.5rem;
        
    }
    section{
        width:19rem;
    }

    button{
        width: 19rem;
    }
}